<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    <form action="/users" method="post">
        First Name<label for="firstName">
            <input type="text" name="firstName" value="<%= locals.firstName%>">
        </label>
        Last Name<label for="lastName">
            <input type="text" name="lastName" value="<%= locals.lastName%>">
        </label><br>
        
        <button type="submit">Submit</button>
    </form>
</body>
</html>