<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    <form action="/users" method="post">
        First Name<label for="firstName">
            <input type="text" name="firstName" value="<%= locals.firstName%>">
        </label>
        Last Name<label for="lastName">
            <input type="text" name="lastName" value="<%= locals.lastName%>">
        </label><br>
        Age <label for="age">
            <input type="number" name="age" value="<%= locals.age%>">
        </label>
        <br>
        Gender
        <label>
            <input type="radio" name="gender" value="Male">Male
        </label>
        <label>
            <input type="radio" name="gender" value="Female">Female
        </label>
        
        <button type="submit">Submit</button>
    </form>
</body>
</html>